@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
.wrapp {
    width: 40%;
    margin: 0 auto;
}
.container-calc {
    padding: 15px;
}
.wrapp h3 {
    text-align: center;
    font: 17px "Roboto";
    text-transform: uppercase;
}
.fild, .area {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
label {
    margin-left: 20px;
    font-size: 19px;
}
.container-result {
    margin: 30px 0 10px 0;
}
.container-result h3 {
    text-align: start;
}
.operations, .but-result {
    display: flex;
    justify-content: center;
    text-align: center;
}
.operations div {
    width: 21%;
    padding: 10px 16px;
    font-size: 18px;
    color: #fff;
    background-color: #337ab7;
    border: 1px solid transparent;
    border-color: #2e6da4;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
}
.but-result {
    margin-right: 10px;
    align-items: center;
}
.dont-check  {
    display: none;
    text-align: center;
    color: red;
}
sup {
    vertical-align: super;
}
.container-image-info img {
    height: auto;
    max-width: 100%;
}
.necessarily-input {
    color: red;
    font-size: 25px;
}
.container-result p {
    font-size: 120%;
    margin: 10px 0;
}
.wrapp-input {
    margin-bottom: 15px;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}